<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CGU See It Through</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="css/jquery.mobile-1.4.2.min.css" rel="stylesheet">

    <script src="js/jquery.js"></script>
    <script src="resources/lib/cordova.js"></script>
    <script src="cordova.force.js"></script>
    <script src="resources/lib/SFHybridApp.js"></script>
    <script src="resources/lib/SalesforceOAuthPlugin.js"></script>
    <script src="resources/lib/lodash.js" type="text/javascript"></script>
    <script src="resources/lib/backbone.js" type="text/javascript"></script>
    <script src="forcetk.mobilesdk.js"></script>
    <script src="resources/lib/backbone.force.js" type="text/javascript"></script>
    
    <script>
    $(document).bind("mobileinit", function () {
        $.mobile.ajaxEnabled = false;
        $.mobile.linkBindingEnabled = false;
    });
    </script>



    <script src="js/jquery.mobile-1.4.2.min.js"></script>


    <style>
    .logWindow {display:none; width:700px;}
    .logWindow > p {padding:0px; margin:0px; word-wrap:break-word;}
    .incompleteField {
      border: red 1px solid;
    }
    fieldset.incompleteCollapsible div.ui-collapsible-heading a.ui-btn-icon-left{
      /*background-color: red;
      color: white;*/
    }
    fieldset.incompleteCollapsible .ui-btn-icon-left:after{
        content: "";
        position: absolute;
        display: block;
        width: 22px;
        height: 22px;
        background-color: red;
    }

    div.ui-header.ui-bar-f{
        background-color: #018533;
        color: #fff;
    }
    div.jqm-fullwidth{
         background-color: #018533;
    }
   
  
    fieldset.incompleteField div.ui-radio label {
      border: red 1px solid;
    }
    input.incompleteField {
      border: red 1px solid;
    }

    h1 label{
       color: #414042
    }
    label{
       color: #414042
    }
    .head1{
        background-color: #0bab47
    }
    .ui-bar-b{
        border-color: #018533
    }
    .headimg{
        text-align: center;
    }
    .homecontent {
        background: url(images/pad_portrait.gif);
        width:769px ;
        height:1008px;
    }
    .homecontentinner {
        color: #414042;
        text-align: center;
        margin-top: 40px;
    }
    .new1{
        background-color: #009fdf;
        border-color: #1f1f1f;
        color: #fff;
        text-shadow: 0 1px 0 #111;
        height: 25px;
        width: 170px;
        font-size: 20px;
        text-align: center;
    }
    .foot{
        font-size: 9px;
        color: #fff;
        text-align: center;
    }
    .helps{
        background-color: #119ed9;
        border: 4px solid #fff;
        -moz-border-radius: 11px;
        -webkit-border-radius: 11px;
        border-radius: 11px;
        -moz-box-shadow: 0px 0px 7px #000000;
        -webkit-box-shadow: 0px 0px 7px #000000;
        box-shadow: 0px 0px 7px #000000;
        opacity: 0.92;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 92);
        filter: alpha(opacity = 92);
        width: 200px;
        height:200px;
        font-size: 13px;
    }

    div.helps h2{
        text-align: center;
    }
    div.helps span{
        padding-left: 10px;
    }
    div.head{
        margin: 37px;
        margin-left: -20px;
        height: 80px;
        
    }
    img{
        margin-bottom: -59px;
    }

    .remove{
        display: none;
    }
    </style>

<script type="text/javascript">
var apiVersion = "v28.0";
var forcetkClient;
var debugMode = true;
var logToConsole = cordova.require("salesforce/util/logger").logToConsole;

jQuery(document).ready(function() {
    logToConsole("onLoad: jquery ready");
    document.addEventListener("deviceready", onDeviceReady,false);
    $("#menu").mmenu();
});

function onDeviceReady() {
    logToConsole("onDeviceReady: Cordova ready");
    cordova.require("salesforce/plugin/oauth").getAuthCredentials(salesforceSessionRefreshed, getAuthCredentialsError);
    document.addEventListener("salesforceSessionRefresh",salesforceSessionRefreshed,false);
    regLinkClickHandlers();
    if (parseFloat(window.device.version) === 7.0) {
        document.body.style.marginTop = "20px";
    }
}
document.addEventListener('deviceready', onDeviceReady, false);

function salesforceSessionRefreshed(creds) {
    logToConsole("salesforceSessionRefreshed");
    var credsData = creds;
    if (creds.data)
        credsData = creds.data;
    forcetkClient = new forcetk.Client(credsData.clientId, credsData.loginUrl, null,
        cordova.require("salesforce/plugin/oauth").forcetkRefresh);
    forcetkClient.setSessionToken(credsData.accessToken, apiVersion, credsData.instanceUrl);
    forcetkClient.setRefreshToken(credsData.refreshToken);
    forcetkClient.setUserAgentString(credsData.userAgent);
    var client = new forcetk.Client(credsData.clientId, credsData.loginUrl);
    client.setSessionToken(credsData.accessToken, apiVersion, credsData.instanceUrl);
    client.setRefreshToken(credsData.refreshToken);
    myapp(client, credsData.userId);
}

function getAuthCredentialsError(error) {
    logToConsole("getAuthCredentialsError: " + error);
}

function salesforceLogout() {
    cordova.require("salesforce/plugin/oauth").logout();
}

</script>


<title>
    
</title>

</head>
<body marginwidth="0" marginheight="0" style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;background-color:#ffffff;" offset="0" topmargin="0" leftmargin="0" bgcolor="#ffffff">

    <div data-role="page" class="jqm-demos ui-responsive-panel" id="panel-responsive-page1" data-title="Panel responsive page" data-url="panel-fixed-page1" id="panel-fixed-page1">

        <div data-role="header" data-theme="b" data-position="fixed">
            <h2>CGU Farmsurvey</h2>
            <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
        </div>
        <!-- /header -->

        <div data-role="content" class="ui-content jqm-content jqm-fullwidth homecontent">
            <div class="head headimg"><img class="img" src="images/Logo.png" width="226" height="70" alt="CGU See It Through" border="0"></div>
            <div class="homecontentinner">
                <h1></h1>
                <a href="#new" data-role="button" class="new1" data-mini="true" data-theme="b">New Survey</a>
            </div>
        </div>
        <!-- /content -->

        <!-- /content1 -->

        <div data-role="footer" data-position="fixed" data-theme="b" id="test">
            <p class="foot">Insurance issued by CGU Insurance Ltd. © 2014 CGU Insurance Limited | ABN 27 004 478 371 | AFS License No. 238291.</p>
        </div>
        <!-- /footer -->

        <div data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay" data-theme="b" id="nav-panel">
            <div data-role="content" id="farmsurveys-content">
                <a href="#/new" data-icon="bars" data-iconpos="notext">Menu</a>
            </div>
            <br>
            <br>
            <div data-role="content" id="farmsurveys-help">
               <!--<div class="helps">
                   <h2>Contact</h2>
                   <span>Website : </span><br><br>
                   <span>Email : </span><br><br>
                   <span>Phone : </span><br>
               </div>-->
            </div>
        </div>
        <!-- /panel -->

    </div>
    <!-- Main-Page -->




<!-- Start of Survey Details -->


     <div id="farmsurvey" data-role="page" data-title="CGU Risk Survey">
        <div data-role="header" data-theme="f">
            <h1>Farm Survey</h1>
            <a href="#panel-fixed-page1" data-role="button" data-inline="true" data-mini="true" data-icon="back" data-iconpos="left">Back</a>
        </div><!-- /header -->
        <div data-role="content" class="jqm-content" id="farmsurvey-content">





    <script type="text/template" id="farmsurveys-template">
        <form>
        <button data-role="button" class="new" data-theme="b">New Survey</button>
        </form>
        <ul data-role="listview" data-inset="true" id="farmsurvey-list">
        </ul>
        <button data-role="button" class="logout" data-theme="a">Logout</button>
    </script>
    
    <script type="text/template" id="farmsurvey-template">
        <% if (typeof(Id) !== 'undefined') { %>
            <a href="#<%= Id %>"><%- Prepared_for__c %> - <%- Intermediary__c %>: <%- situation__c %>, <%- postcode__c %> </a>
            <% } else { %>
                <%- Name %>
                <% } %>
        </script>
    
    <script type="text/template" id="farmsurvey-detail-template">
 
        <form name="farmsurveyform" id="farmsurveyform">
        <div data-role="collapsible-set">
        <fieldset data-role="collapsible" data-collapsed="true">
        <legend>Survey Details</legend>
        <% if (typeof(Id) !== 'undefined') { %>
            <input type="hidden" name="Id" id="Id" value="<%- Id %>" />
            <% } %>
        <div data-role="fieldcontain">
        <label for="Prepared_for__c">1. End Insured Name:</label>
        <% if (typeof(Prepared_for__c) !== 'undefined') { %>
            <input name="Prepared_for__c" id="Prepared_for__c" value="<%- Prepared_for__c %>" />
            <% } else { %>
                <input name="Prepared_for__c" id="Prepared_for__c" />
                <% } %>
        </div>
        <div data-role="fieldcontain">
        <label for="prepared_for_phone__c">2. Contact Phone #:</label>
        <% if (typeof(prepared_for_phone__c) !== 'undefined') { %>
            <input type="tel" name="prepared_for_phone__c" id="prepared_for_phone__c" value="<%- prepared_for_phone__c %>" />
            <% } else { %>
                <input type="tel" name="prepared_for_phone__c" id="prepared_for_phone__c" />
                <% } %>
        </div>
        <div data-role="fieldcontain">
        <label for="Intermediary__c">3. Intermediary:</label>
        <% if (typeof(Intermediary__c) !== 'undefined') { %>
            <input name="Intermediary__c" id="Intermediary__c" value="<%- Intermediary__c %>" />
            <% } else { %>
                <input name="Intermediary__c" id="Intermediary__c" />
                <% } %>
        </div>
        <div data-role="fieldcontain">
        <label for="intermediary_phone__c">4. Intermediary Contact Phone #:</label>
        <% if (typeof(intermediary_phone__c) !== 'undefined') { %>
            <input type="tel" name="intermediary_phone__c" id="intermediary_phone__c" value="<%- intermediary_phone__c %>" />
            <% } else { %>
                <input type="tel" name="intermediary_phone__c" id="intermediary_phone__c" />
                <% } %>
        </div>
        <div data-role="fieldcontain">
        <label for="Date_of_Survey__c">5. Date of Survey:</label>
        <% if (typeof(Date_of_Survey__c) !== 'undefined') { %>
            <input type="date" name="Date_of_Survey__c" id="Date_of_Survey__c" value="<%- Date_of_Survey__c %>" />
            <% } else { %>
                <input type="date" name="Date_of_Survey__c" id="Date_of_Survey__c" />
                <% } %>
        </div>
        <div data-role="fieldcontain">
        <label for="Reference_Number__c">6. Customer Number:</label>
        <% if (typeof(Reference_Number__c) !== 'undefined') { %>
            <input type="text" name="Reference_Number__c" id="Reference_Number__c" value="<%- Reference_Number__c %>" />
            <% } else { %>
                <input type="text" name="Reference_Number__c" id="Reference_Number__c" />
                <% } %>
        </div>
        <div data-role="fieldcontain">
        <label for="Policy_Number__c">7. Policy Number:</label>
        <% if (typeof(Policy_Number__c) !== 'undefined') { %>
            <input type="text" name="Policy_Number__c" id="Policy_Number__c" value="<%- Policy_Number__c %>" />
            <% } else { %>
                <input type="text" name="Policy_Number__c" id="Policy_Number__c" />
                <% } %>
        </div>
        <div data-role="fieldcontain">
        <label for="situation__c">8. Situation Address:</label>
        <% if (typeof(situation__c) !== 'undefined') { %>
            <input type="text" name="situation__c" id="situation__c" value="<%- situation__c %>" />
            <% } else { %>
                <input type="text" name="situation__c" id="situation__c" />
                <% } %>
        </div>
        <div data-role="fieldcontain">
        <label for="postcode__c">9. Postcode:</label>
        <% if (typeof(postcode__c) !== 'undefined') { %>
            <input type="text" name="postcode__c" id="postcode__c" value="<%- postcode__c %>" />
            <% } else { %>
                <input type="text" name="postcode__c" id="postcode__c" />
                <% } %>
        </div>
        <div data-role="fieldcontain">
        <label for="anszic_code__c">10. ANZSIC code:</label>
        <select name="anszic_code__c" id="anszic_code__c">
        <option value="">Please select</option>
        <%  $.each({'0111' : '0111 - Plant Nurseries etc',
                   '0112' : '0112 - Cut Flower Growing etc',
                   '0113' : '0113 - Vegetable Growing',
                   '0114' : '0114 - Grape Growing etc',
                   '0115' : '0115 - Apple & Pear Growing',
                   '0116' : '0116 - Stone Fruit Growing',
                   '0117' : '0117 - Kiwi Fruit Growing',
                   '0119A' : '0119A - Banana Growing etc',
                   '0119B' : '0119B - Fruit & Nut Growing',
                   '0119C' : '0119C - Olive Growing',
                   '0121' : '0121 - Grain/Crop Growing',
                   '0122' : '0122 - Grain/Sheep & Grain etc',
                   '0123' : '0123 - Sheep/Beef Cattle Farming',
                   '0124' : '0124 - Sheep Farming etc',
                   '0125A' : '0125A - Beef Cattle Farming',
                   '0125C' : '0125C - Stud Beef Breeding',
                   '0125D' : '0125D - Buffalo etc',
                   '0130A' : '0130A - Dairy Cattle Farming',
                   '0130B' : '0130B - Stud Dairy Breeding',
                   '0141' : '0141 - Poultry Farming (Meat)',
                   '0142' : '0142 - Poultry Farming (Eggs)',
                   '0151' : '0151 - Pig Farming',
                   '0152A' : '0152A - Horse Breeding',
                   '0153' : '0153 - Deer Farming/Venison',
                   '0159A' : '0159A - Livstock Farming etc',
                   '0159B' : '0159B Hobby Farming',
                   '0161' : '0161 - Sugar Cane Growing',
                   '0162' : '0162 - Cotton Growing',
                   '0169A' : '0169A - Crop & Plant Growing'}, function(key, value) { %>
                   <option value="<%= key %>"<% if (typeof(anszic_code__c) !== 'undefined' && anszic_code__c == key) { %> selected<% } %>><%= value %></option>
                   <% }); %>
        </select>
        </div>
        </fieldset>
        <fieldset data-role="collapsible">
        <legend>Initial Impressions & Environment</legend>
        <label for="housekeeping_impression__c">1. What are the initial impressions of general housekeeping around the property?</label>
        <textarea cols="40" rows="8" name="housekeeping_impression__c" id="housekeeping_impression__c"><% if (typeof(housekeeping_impression__c) !== 'undefined') { print(housekeeping_impression__c); } %></textarea>
        <label for="age_and_condition__c">2. Are the building conditions of the Farm Dwellings and Farm Buldings of an acceptable standard?</label>
        <select name="age_and_condition__c" id="age_and_condition__c">
        <option value="">Please select</option>
        <%  $.each({'Yes - acceptable' : 'Yes - acceptable',
                   'Partially acceptable' : 'Partially acceptable',
                   'No - not acceptable' : 'No - not acceptable'}, function(key, value) { %>
                   <option value="<%= key %>"<% if (typeof(age_and_condition__c) !== 'undefined' && age_and_condition__c == key) { %> selected<% } %>><%= value %></option>
                   <% }); %>
        </select>
        <label for="age_and_condition_comments__c">Please provide comments</label>
        <textarea cols="40" rows="8" name="age_and_condition_comments__c" id="age_and_condition_comments__c"><% if (typeof(age_and_condition_comments__c) !== 'undefined') { print(age_and_condition_comments__c); } %></textarea>
        <label for="roof_condition__c">3. Are the roof conditions of the Farm Dwellings and Farm Buldings of an acceptable standard?</label>
        <select name="roof_condition__c" id="roof_condition__c">
        <option value="">Please select</option>
        <%  $.each({'Yes - acceptable' : 'Yes - acceptable',
                   'Partially acceptable' : 'Partially acceptable',
                   'No - not acceptable' : 'No - not acceptable'}, function(key, value) { %>
                   <option value="<%= key %>"<% if (typeof(roof_condition__c) !== 'undefined' && roof_condition__c == key) { %> selected<% } %>><%= value %></option>
                   <% }); %>
        </select>
        <label for="roof_condition_comments__c">Please provide comments</label>
        <textarea cols="40" rows="8" name="roof_condition_comments__c" id="roof_condition_comments__c"><% if (typeof(roof_condition_comments__c) !== 'undefined') { print(roof_condition_comments__c); } %></textarea>
        </fieldset>
        <fieldset data-role="collapsible">
        <legend>Farm Dwellings</legend>
        <div data-role="content" id="farmdwellings-content">
            <p>Loading Farm Dwellings...</p>
        </div>
        </fieldset>
        <fieldset data-role="collapsible">
        <legend>Farm Buildings</legend>
        <div data-role="content" id="farmbuildings-content">
            <p>Loading Farm Buildings...</p>
        </div>
        </fieldset>
        <fieldset data-role="collapsible">
        <legend>Other Structures</legend>
        <fieldset data-role="controlgroup" data-type="horizontal" id="other_structures_insured__c">
        <legend>1. Are structures such as windmills and freestanding tanks insured?</legend>
        <%  $.each(['Yes', 'No', 'N/A'], function(index, value) { %>
                   <input type="radio" name="other_structures_insured__c" id="other_structures_insured__c-<%- index %>" value="<%- value %>"<% if (typeof(other_structures_insured__c) !== 'undefined' && other_structures_insured__c == value) { %> checked<% } %>>
                   <label for="other_structures_insured__c-<%- index %>"><%- value %></label>
                   <% }); %>
        </fieldset>

        <fieldset data-role="controlgroup" data-type="horizontal" id="other_structures_age_condition__c">
        <legend>1.a. If so, please provide details of age and condition:</legend>

        <textarea cols="40" rows="8" name="other_structures_age_condition__c" id="other_structures_age_condition__c"><% if (typeof(other_structures_age_condition__c) !== 'undefined') { print(other_structures_age_condition__c); } %></textarea>

        </fieldset>


        <fieldset data-role="controlgroup" data-type="horizontal" id="other_structures_good_condition__c">
        <legend>2. Are the structures in good condition and not susceptible to storm damage?</legend>
        <%  $.each(['Yes', 'No', 'N/A'], function(index, value) { %>
                   <input type="radio" name="other_structures_good_condition__c" id="other_structures_good_condition__c-<%- index %>" value="<%- value %>"<% if (typeof(other_structures_good_condition__c) !== 'undefined' && other_structures_good_condition__c == value) { %> checked<% } %>>
                   <label for="other_structures_good_condition__c-<%- index %>"><%- value %></label>
                   <% }); %>
        </fieldset>
        </fieldset>
        <fieldset data-role="collapsible">
        <legend>Liability</legend>
        <fieldset data-role="controlgroup" data-type="horizontal" id="frontage__c">
        <legend>1. Does any part of the property face onto a major road or highway?</legend>
        <%  $.each(['Yes', 'No', 'N/A'], function(index, value) { %>
                   <input type="radio" name="frontage__c" id="frontage__c-<%- index %>" value="<%- value %>"<% if (typeof(frontage__c) !== 'undefined' && frontage__c == value) { %> checked<% } %>>
                   <label for="frontage__c-<%- index %>"><%- value %></label>
                   <% }); %>
        </fieldset>
        <fieldset data-role="controlgroup" data-type="horizontal" id="fencing__c">
        <legend>2. Is the external fencing ALL in good order and suitable to contain the types of livestock (including horses) kept on the property?</legend>
        <%  $.each(['Yes', 'No', 'N/A'], function(index, value) { %>
                   <input type="radio" name="fencing__c" id="fencing__c-<%- index %>" value="<%- value %>"<% if (typeof(fencing__c) !== 'undefined' && fencing__c == value) { %> checked<% } %>>
                   <label for="fencing__c-<%- index %>"><%- value %></label>
                   <% }); %>
        </fieldset>
        <fieldset data-role="controlgroup" data-type="horizontal" id="non_farming_activity__c">
        <legend>3. Is there any non farming activity conducted on this property?</legend>
        <%  $.each(['Yes', 'No', 'N/A'], function(index, value) { %>
                   <input type="radio" name="non_farming_activity__c" id="non_farming_activity__c-<%- index %>" value="<%- value %>"<% if (typeof(non_farming_activity__c) !== 'undefined' && non_farming_activity__c == value) { %> checked<% } %>>
                   <label for="non_farming_activity__c-<%- index %>"><%- value %></label>
                   <% }); %>
        </fieldset>

        <fieldset data-role="controlgroup" data-type="horizontal" id="liability_full_details__c">
        <legend>3.a. If yes, please provide full details:</legend>
            <% if (typeof(liability_full_details__c) !== 'undefined') { %>
                <input name="liability_full_details__c" id="liability_full_details__c" value="<%- liability_full_details__c %>" />
            <% } else { %>
                <input name="liability_full_details__c" id="liability_full_details__c" />
            <% } %>
        </fieldset>

        <fieldset data-role="controlgroup" data-type="horizontal" id="liability_farm_contracting__c">
        <legend>3.b.  Is there any farm contracting performed?</legend>
            <%  $.each(['Yes', 'No', 'N/A'], function(index, value) { %>
                <input type="radio" name="liability_farm_contracting__c" id="liability_farm_contracting__c-<%- index %>" value="<%- value %>"<% if (typeof(liability_farm_contracting__c) !== 'undefined' && liability_farm_contracting__c == value) { %> checked<% } %>>
                <label for="liability_farm_contracting__c-<%- index %>"><%- value %></label>
            <% }); %>
        </fieldset>

        <fieldset data-role="controlgroup" data-type="horizontal" id="liability_farm_turnover__c">
        <legend>3.c. If so, what type and what % of the farm turnover does it represent?</legend>
            <% if (typeof(liability_farm_turnover__c) !== 'undefined') { %>
                <input name="liability_farm_turnover__c" id="liability_farm_turnover__c" value="<%- liability_farm_turnover__c %>" />
            <% } else { %>
                <input name="liability_farm_turnover__c" id="liability_farm_turnover__c" />
            <% } %>
        </fieldset>

        <fieldset data-role="controlgroup" data-type="horizontal" id="liability_labour_hire__c">
        <legend>3.d.  Is there any labour hire used?</legend>
            <%  $.each(['Yes', 'No', 'N/A'], function(index, value) { %>
                <input type="radio" name="liability_labour_hire__c" id="liability_labour_hire__c-<%- index %>" value="<%- value %>"<% if (typeof(liability_labour_hire__c) !== 'undefined' && liability_labour_hire__c == value) { %> checked<% } %>>
                <label for="liability_labour_hire__c-<%- index %>"><%- value %></label>
            <% }); %>
        </fieldset>

        <fieldset data-role="controlgroup" data-type="horizontal" id="liability_provide_full_details_work__c">
        <legend>3.e. If so, please provide full details of the type of work carried out and the turnover in relation to this?</legend>
            <% if (typeof(liability_provide_full_details_work__c) !== 'undefined') { %>
                <input name="liability_provide_full_details_work__c" id="liability_provide_full_details_work__c" value="<%- liability_provide_full_details_work__c %>" />
            <% } else { %>
                <input name="liability_provide_full_details_work__c" id="liability_provide_full_details_work__c" />
            <% } %>
        </fieldset>

        </fieldset>
        <fieldset data-role="collapsible">
        <legend>Overall Survey Assessment</legend>
        <label for="overall_assessment_rating__c" class="select">1. Overall, how would you rate this property?</label>
        <select name="overall_assessment_rating__c" id="overall_assessment_rating__c">
        <option value="">Please select</option>
        <%  $.each({'Excellent' : 'Excellent',
                   'Good' : 'Good',
                   'Average' : 'Average',
                   'Poor' : 'Poor'}, function(key, value) { %>
                   <option value="<%= key %>"<% if (typeof(overall_assessment_rating__c) !== 'undefined' && overall_assessment_rating__c == key) { %> selected<% } %>><%= value %></option>
                   <% }); %>
        </select>
        <label for="overall_assessment_comments__c">2. Please provide overall assessment comments:</label>
        <textarea cols="40" rows="8" name="overall_assessment_comments__c" id="overall_assessment_comments__c"><% if (typeof(overall_assessment_comments__c) !== 'undefined') { print(overall_assessment_comments__c); } %></textarea>
        </fieldset>
        <fieldset data-role="collapsible">
        <legend>Risk Surveyor&#39;s Recommendation</legend>
        <fieldset data-role="controlgroup" data-type="horizontal" id="policy_discount__c">
        <legend><label>1. In your opinion, does the overall assessment of this property warrant the application of a policy discount or loading?</label></legend>

        <select name="policy_discount__c" id="policy_discount__c">
        <option value="">Please select</option>
        <%  $.each({'Policy Loading' : 'Policy Loading',
                   'Policy Discount' : 'Policy Discount',
                   'No' : 'No'}, function(key, value) { %>
                   <option value="<%= key %>"<% if (typeof(policy_discount__c) !== 'undefined' && policy_discount__c == key) { %> selected<% } %>><%= value %></option>
                   <% }); %>
        </select>

        </fieldset>
        <div class="remove">
        <label for="Policy_Loading_Discounting__c" class="select">2. Policy Loading/Discounting</label>
        <select name="Policy_Loading_Discounting__c" id="Policy_Loading_Discounting__c">
        <option value="">Please select</option>
        <%  $.each({'N/A' : 'N/A',
                    'Policy Loading' : 'Policy Loading',
                    'Policy Discount' : 'Policy Discount'}, function(key, value) { %>
                        <option value="<%= key %>"<% if (typeof(Policy_Loading_Discounting__c) !== 'undefined' && Policy_Loading_Discounting__c == key) { %> selected<% } %>><%= value %></option>
                    <% }); %>
        </select>
        </div>
        <label for="policy_discount_reasons__c">2. Please provide reasons for your recommendations:</label>
        <textarea cols="40" rows="8" name="policy_discount_reasons__c" id="policy_discount_reasons__c"><% if (typeof(policy_discount_reasons__c) !== 'undefined') { print(policy_discount_reasons__c); } %></textarea>
        <label for="policy_discount_comments__c">3. Please provide any final survey comments:</label>
        <textarea cols="40" rows="8" name="policy_discount_comments__c" id="policy_discount_comments__c"><% if (typeof(policy_discount_comments__c) !== 'undefined') { print(policy_discount_comments__c); } %></textarea>
        </fieldset>
        </div>
            <fieldset class="ui-grid-b">
                <div class="ui-block-a destroy"><button type="submit" data-theme="e">Delete</button></div>
                <div class="ui-block-b save"><button type="submit" data-theme="b">Save Progress</button></div>
                <div class="ui-block-c submit"><button type="submit" data-theme="a">Submit</button></div>
            </fieldset>
        <div data-role="footer" data-position="fixed" data-theme="a">
 
        

        </div><!-- /footer -->
        </form>
        </script>
    
    <script type="text/template" id="farmdwellings-template">
        <button data-role="button" class="new" id="new-dwelling-button" data-theme="b">Add New Dwelling</button>
        <div data-role="collapsible-set" id="farmdwelling-list">
        </div>
        </script>
    
    <script type="text/template" id="farmdwelling-detail-template">
        <legend><% if (typeof(unique_name__c) !== 'undefined' && unique_name__c !== null) { %><%- unique_name__c %><% } else { print( "New Dwelling" ); } %></legend>
        <div data-role="fieldcontain">
        <label for="unique_name__c">1. Name of Dwelling:</label>
        <% if (typeof(unique_name__c) !== 'undefined') { %>
            <input name="unique_name__c" id="unique_name__c" value="<%- unique_name__c %>" />
            <% } else { %>
                <input name="unique_name__c" id="unique_name__c" />
                <% } %>
        </div>
        <div data-role="fieldcontain">
        <label for="property_occupancy__c" class="select">2. Property Occupancy</label>
        <select name="property_occupancy__c" id="property_occupancy__c">
        <option value="">Please select</option>
        <%  $.each({'Owner Occupied' : 'Owner Occupied',
                   'Second Residence' : 'Second Residence',
                   'Employees' : 'Employees',
                   'Guest House' : 'Guest House',
                   'Tenanted' : 'Tenanted',
                   'Family Home' : 'Family Home'}, function(key, value) { %>
                   <option value="<%= key %>"<% if (typeof(property_occupancy__c) !== 'undefined' && property_occupancy__c == key) { %> selected<% } %>><%= value %></option>
                   <% }); %>
        </select>
        </div>
        <div data-role="fieldcontain">
        <label for="description__c" class="select">3. Description</label>
        <select name="description__c" id="description__c">
        <option value="">Please select</option>
        <%  $.each({'Dwelling' : 'Dwelling',
                   'Caravan' : 'Caravan',
                   'Cottage' : 'Cottage',
                   "Employee's Quarters" : "Employee's Quarters",
                   'Flat' : 'Flat',
                   'Garage' : 'Garage',
                   "Guest's Quarters" : "Guest's Quarters",
                   'Holiday House' : 'Holiday House',
                   'Homestead' : 'Homestead'}, function(key, value) { %>
                   <option value="<%= key %>"<% if (typeof(description__c) !== 'undefined' && description__c == key) { %> selected<% } %>><%= value %></option>
                   <% }); %>
        </select>
        </div>
        <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-type="horizontal">
        <legend><label>4. Permanently Occupied?</label></legend>
        <%  $.each(['Yes', 'No', 'N/A'], function(index, value) { %>
                   <input type="radio" name="occupancy_status__c" id="occupancy_status__c-<%- index %>" value="<%- value %>"<% if (typeof(occupancy_status__c) !== 'undefined' && occupancy_status__c == value) { %> checked<% } %>>
                   <label for="occupancy_status__c-<%- index %>"><%- value %></label>
                   <% }); %>
        </fieldset>
        </div>

        <div class="remove" data-role="fieldcontain" id="how_long_unoccupied">
        <label for="how_long_unoccupied__c">4.a. How long as the Dwelling been unoccupied:</label>
        
            <input  name="how_long_unoccupied__c" id="how_long_unoccupied__c" value="<%- how_long_unoccupied__c %>" />
           
        </div>

        <div class="remove" data-role="fieldcontain" id="how_long_anticipated">
        <label for="how_long_anticipated__c">4.b. How long is it anticipated that it will be unoccupied:</label>
        
            <input  name="how_long_anticipated__c" id="how_long_anticipated__c" value="<%- how_long_anticipated__c %>" />
           
        </div>


        <div class="remove" data-role="fieldcontain" id="have_services_disconnected">
        <fieldset data-role="controlgroup">
        <legend><label>4.c. Have all services been disconnected (i.e. Power,water and gas):</label></legend>
        <%  $.each(['Yes', 'No', 'N/A'], function(index, value) { %>
                   <input type="radio" name="have_services_disconnected__c" id="have_services_disconnected__c-<%- index %>" value="<%- value %>"<% if (typeof(have_services_disconnected__c) !== 'undefined' && have_services_disconnected__c == value) { %> checked<% } %>>
                   <label for="have_services_disconnected__c-<%- index %>"><%- value %></label>
                   <% }); %>
        </fieldset>
        </div>



        <div class="remove" data-role="fieldcontain" id="how_ofen_inspected">
        <label for="how_ofen_inspected__c">4.d. How often is the dwelling inspected both internally and externally (Should be at least fortnightly):</label>

            <select name="how_ofen_inspected__c" id="how_ofen_inspected__c">
            <option value="">Please select</option>
            <%  $.each({'Daily' : 'Daily',
                       'Weekly' : 'Weekly',
                       'Fortnightly' : 'Fortnightly',
                       'Monthly' : 'Monthly',
                       'Quarterly' : 'Quarterly',
                       'N/A' : 'N/A'}, function(key, value) { %>
                       <option value="<%= key %>"<% if (typeof(construction__c) !== 'undefined' && construction__c == key) { %> selected<% } %>><%= value %></option>
                       <% }); %>
            </select>

        </div>

        <div data-role="fieldcontain">
        <label for="construction__c" class="select">5. Construction</label>
        <select name="construction__c" id="construction__c">
        <option value="">Please select</option>
        <%  $.each({'Brick/Concrete Floors' : 'Brick/Concrete Floors',
                   'Steel/Concrete Floors' : 'Steel/Concrete Floors',
                   'Brick/Wood Floors' : 'Brick/Wood Floors',
                   'Steel/Wood Floors' : 'Steel/Wood Floors',
                   'Fibro' : 'Fibro',
                   'Other' : 'Other'}, function(key, value) { %>
                   <option value="<%= key %>"<% if (typeof(construction__c) !== 'undefined' && construction__c == key) { %> selected<% } %>><%= value %></option>
                   <% }); %>
        </select>
        </div>
        <div data-role="fieldcontain">
        <label for="age__c">6. Age of Dwelling</label>
        <% if (typeof(age__c) !== 'undefined') { %>
            <input type="number" name="age__c" id="age__c" value="<%- age__c %>" />
            <% } else { %>
                <input type="number" name="age__c" id="age__c" />
                <% } %>
        </div>
        <div data-role="fieldcontain">
        <fieldset data-role="controlgroup">
        <legend><label>7. If built prior to 1960, has it been completely rewired since 1960?</label></legend>
        <%  $.each(['Yes', 'No', 'N/A'], function(index, value) { %>
                   <input type="radio" name="rewired__c" id="rewired__c-<%- index %>" value="<%- value %>"<% if (typeof(rewired__c) !== 'undefined' && rewired__c == value) { %> checked<% } %>>
                   <label for="rewired__c-<%- index %>"><%- value %></label>
                   <% }); %>
        </fieldset>
        </div>

        <div data-role="fieldcontain" id="rewired_comments">
        <label for="rewired_comments__c">7.a. Please provide comments:</label>

            <textarea cols="40" rows="8" name="rewired_comments__c" id="rewired_comments__c"><% if (typeof(rewired_comments__c) !== 'undefined') { print(rewired_comments__c); } %></textarea>

        </div>

        <div data-role="fieldcontain">
        <label for="sum_insured__c">8. Sum Insured ($)</label>
        <% if (typeof(sum_insured__c) !== 'undefined') { %>
            <input type="text" name="sum_insured__c" id="sum_insured__c" value="<%- sum_insured__c %>" />
            <% } else { %>
                <input type="text" name="sum_insured__c" id="sum_insured__c" />
                <% } %>
        </div>
        <% if (typeof(Latitude__c) !== 'undefined' && Latitude__c !== null && typeof(Longitude__c) !== 'undefined' && Longitude__c !== null) { %>
            <div class="ui-grid-b">
                <div class="ui-block-a">
                    <p><label>Building location</label></p>
                </div>
                <div class="ui-block-b">
                    <a href="maps:q=<%- Latitude__c %>,<%- Longitude__c %>&t=k" data-role="button" data-inline="true" target="foo">View Map</a>
                </div>
                <div class="ui-block-c">
                    <button type="submit" class="geolocate" data-inline="true" data-theme="c">Get Current Location</button>
                </div>
            </div>
        <% } else { %>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <p><label>Building location</label></p>
                </div>
                <div class="ui-block-b">
                    <button type="submit" class="geolocate" data-inline="true" data-theme="c">Get Current Location</button>
                </div>
            </div>
        <% } %>
        <div id="dwelling-photos"></div>
        <div data-role="fieldcontain">
        <label for="conditions__c">9. How would you rate the condition of this Dwelling?</label>

        <select name="conditions__c" id="conditions__c">
        <option value="">Please select</option>
        <%  $.each({'Excellent' : 'Excellent',
                   'Good' : 'Good',
                   'Average' : 'Average',
                   'Poor' : 'Poor'
                    }, function(key, value) { %>
                   <option value="<%= key %>"<% if (typeof(conditions__c) !== 'undefined' && conditions__c == key) { %> selected<% } %>><%= value %></option>
                   <% }); %>
        </select>

        </div>
        <button type="submit" class="delete" data-theme="e">Delete Dwelling</button>
    </script>
        
    <script type="text/template" id="farmbuildings-template">
        <button data-role="button" class="new" id="new-building-button" data-theme="b">Add New Building</button>
        <div data-role="collapsible-set" id="farmbuilding-list">
        </div>
    </script>

    <script type="text/template" id="farmbuilding-detail-template">
        <legend><% if (typeof(unique_name__c) !== 'undefined' && unique_name__c !== null) { %><%- unique_name__c %><% } else { print( "New Building" ); } %></legend>
        <div data-role="fieldcontain">
        <label for="unique_name__c">1. Name of Building:</label>
        <% if (typeof(unique_name__c) !== 'undefined') { %>
            <input name="unique_name__c" id="unique_name__c" value="<%- unique_name__c %>" />
            <% } else { %>
                <input name="unique_name__c" id="unique_name__c" />
                <% } %>
        </div>
        <div data-role="fieldcontain">
        <label for="description__c" class="select">2. Description</label>
        <select name="description__c" id="description__c">
        <option value="">Please select</option>
        <%  $.each({'Aircraft Hangar' : 'Aircraft Hangar',
                   'Amenities Block' : 'Amenities Block',
                   'Cool Room' : 'Cool Room',
                   'Dairy' : 'Dairy',
                   'Fertilizer Shed' : 'Fertilizer Shed',
                   'Garage Shed' : 'Garage Shed',
                   'Grain Shed/Silo' : 'Grain Shed/Silo',
                   'Hay Shed' : 'Hay Shed',
                   'Machinery Shed' : 'Machinery Shed',
                   'Meat House' : 'Meat House',
                   'Packing Shed' : 'Packing Shed',
                   'Piggery' : 'Piggery',
                   'Poultry Shed' : 'Poultry Shed',
                   'Quarters' : 'Quarters',
                   'Shearing Shed' : 'Shearing Shed',
                   'Stables' : 'Stables',
                   'Workshop' : 'Workshop',
                   'Other' : 'Other'}, function(key, value) { %>
                   <option value="<%= key %>"<% if (typeof(description__c) !== 'undefined' && description__c == key) { %> selected<% } %>><%= value %></option>
                   <% }); %>
        </select>
        </div>
        <div data-role="fieldcontain">
        <label for="construction_type__c" class="select">3. Construction</label>
        <select name="construction_type__c" id="construction_type__c">
        <option value="">Please select</option>
        <%  $.each({'Brick/Concrete Floors' : 'Brick/Concrete Floors',
                   'Steel/Concrete Floors' : 'Steel/Concrete Floors',
                   'Brick/Wood Floors' : 'Brick/Wood Floors',
                   'Steel/Wood Floors' : 'Steel/Wood Floors',
                   'Fibro' : 'Fibro',
                   'EPS' : 'EPS',
                   'Other' : 'Other'}, function(key, value) { %>
                   <option value="<%= key %>"<% if (typeof(construction_type__c) !== 'undefined' && construction_type__c == key) { %> selected<% } %>><%= value %></option>
                   <% }); %>
        </select>
        </div>
        <div data-role="fieldcontain">
        <label for="age__c">4. Age of Dwelling</label>
        <% if (typeof(age__c) !== 'undefined') { %>
            <input type="number" name="age__c" id="age__c" value="<%- age__c %>" />
            <% } else { %>
                <input type="number" name="age__c" id="age__c" />
                <% } %>
        </div>

        <div data-role="fieldcontain" id="renovations_maintenance">
        <label for="renovations_maintenance__c">4.a. If built prior to 1960, has it had any renovations or maintenance since 1960? If so, please provide details:</label>

            <%  $.each(['Yes', 'No', 'N/A'], function(index, value) { %>
           <input type="radio" name="renovations_maintenance__c" id="renovations_maintenance__c-<%- index %>" value="<%- value %>"<% if (typeof(renovations_maintenance__c) !== 'undefined' && renovations_maintenance__c == value) { %> checked<% } %>>
           <label for="renovations_maintenance__c-<%- index %>"><%- value %></label>
           <% }); %>

        </div>

        <div data-role="fieldcontain" id="renovations_maintenance_comments">
        <label for="renovations_maintenance_comments__c">4.b. Please provide comments:</label>

            <textarea cols="40" rows="8" name="renovations_maintenance_comments__c" id="renovations_maintenance_comments__c"><% if (typeof(rewired_comments__c) !== 'undefined') { print(renovations_maintenance_comments__c); } %></textarea>

        </div>


        <div data-role="fieldcontain">
        <label for="sum_insured__c">5. Sum Insured ($)</label>
        <% if (typeof(sum_insured__c) !== 'undefined') { %>
            <input type="text" name="sum_insured__c" id="sum_insured__c" value="<%- sum_insured__c %>" />
            <% } else { %>
                <input type="text" name="sum_insured__c" id="sum_insured__c" />
                <% } %>
        </div>
        <% if (typeof(Latitude__c) !== 'undefined' && Latitude__c !== null && typeof(Longitude__c) !== 'undefined' && Longitude__c !== null) { %>
            <div class="ui-grid-b">
                <div class="ui-block-a">
                    <p>Building location</p>
                </div>
                <div class="ui-block-b">
                    <a href="maps:q=<%- Latitude__c %>,<%- Longitude__c %>&t=k" data-role="button" data-inline="true" target="foo">View Map</a>
                </div>
                <div class="ui-block-c">
                    <button type="submit" class="geolocate" data-inline="true" data-theme="c">Get Current Location</button>
                </div>
            </div>
        <% } else { %>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <p>Building location</p>
                </div>
                <div class="ui-block-b">
                    <button type="submit" class="geolocate" data-inline="true" data-theme="c">Get Current Location</button>
                </div>
            </div>
        <% } %>
        <div id="building-photos"></div>
        <div data-role="fieldcontain">
        <label for="conditions__c">6. How would you rate the condition of this Dwelling?</label>

        <select name="conditions__c" id="conditions__c">
        <option value="">Please select</option>
        <%  $.each({'Excellent' : 'Excellent',
                   'Good' : 'Good',
                   'Average' : 'Average',
                   'Poor' : 'Poor'
                    }, function(key, value) { %>
                   <option value="<%= key %>"<% if (typeof(conditions__c) !== 'undefined' && conditions__c == key) { %> selected<% } %>><%= value %></option>
                   <% }); %>
        </select>

        </div>
        <button type="submit" class="delete" data-theme="e">Delete Building</button>
        </script>
    
        <script type="text/template" id="farmphotos-template">
            <div class="ui-grid-b">
                <div class="ui-block-a">   
                    <p><label>Photos</label></p>
                </div>
                <div class="ui-block-b">
                    <button type="submit" class="takePhoto" data-inline="true" data-theme="c">Take a Photo</button>
                </div>
                <div class="ui-block-c">
                    <button type="submit" class="addPhoto" data-inline="true" data-theme="c">Attach a Photo</button>
                </div>
            </div>
            <ul id="farmphotos-list" data-role="listview" style="padding-top:20px; padding-bottom: 20px;">
            </ul>
        </script>        

        <script type="text/template" id="farmphoto-template">
            <a href="#" onclick="return false;">
                <% if (typeof(Id) !== undefined && Id !== null) { %>
                    <img id="image-body" src="<%= this.model.photoUrl() %>">
                <% } else { %>
                    <img id="image-body" src="data:image/jpg;base64,<%= Body %>">
                <% } %>
                <p><% if (typeof(Name) !== undefined && Name !== null) { print( Name ); } %></p>
            </a>
            <a href="#" class="delete" data-icon="delete">Delete</a>
        </script>


            <a href="#panel-fixed-page1" data-role="button" data-inline="true" data-mini="true" data-icon="back" data-iconpos="left">Back</a>
        </div><!-- /content -->
    </div><!-- /page -->



<!-- End of Survey Details -->


<script>

    $( window ).on( "orientationchange", function( event ) {
      var result = event.orientation;
        if(result=='landscape'){
            $('.homecontent').css('background', 'url(images/Pad_Landscape.gif)');
            $('.homecontent').css('width', '1008px');
            $('.homecontent').css('height', '728px');
            $('.homecontentinner').css('color', '#414042');
            $('.homecontentinner').css('text-align', 'center');
             $('.new1').css('margin-left', '390px');
        }
        else{

            $('.homecontent').css('background', 'url(images/pad_portrait.gif)');
            $('.homecontent').css('width', '768px');
            $('.homecontent').css('height', '990px');
            $('.homecontentinner').css('color', '#414042');
            $('.homecontentinner').css('text-align', 'center');
            $('.new1').css('margin-left', '250px');
            
        }
    });
 

    $( window ).orientationchange();
</script>

<script type="text/javascript" src="resources/lib/inline.js"></script>
</body>
</html>
